USE [master]
GO
/****** Объект:  Database [module_1]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
CREATE DATABASE [module_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'module_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\module_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'module_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\module_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [module_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [module_1]
GO
/****** Объект:  Table [dbo].[Заказчики_2]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказчики_2](
	[№_заказчика] [int] NOT NULL,
	[Название] [nvarchar](50) NULL,
	[ИНН] [nvarchar](50) NULL,
	[Адресс] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Продавец] [bit] NULL,
	[Покупатель] [bit] NULL,
 CONSTRAINT [PK_Заказчики_2] PRIMARY KEY CLUSTERED 
(
	[№_заказчика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Заказчики_import]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказчики_import](
	[id] [int] NOT NULL,
	[Название] [nvarchar](50) NULL,
	[ИНН] [nvarchar](50) NOT NULL,
	[Адресс] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[IsSalesMan] [bit] NULL,
	[IsBuyer] [bit] NULL,
 CONSTRAINT [PK_Заказчики_import] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Заказы]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[№_заказа] [int] NOT NULL,
	[Исполнитель] [int] NULL,
	[Заказчик] [int] NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[№_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Материалы]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материалы](
	[№_материала] [int] NOT NULL,
	[Наиманование] [nchar](10) NULL,
 CONSTRAINT [PK_Материалы] PRIMARY KEY CLUSTERED 
(
	[№_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Продукция]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция](
	[№_продукции] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Продукция] PRIMARY KEY CLUSTERED 
(
	[№_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Производство]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производство](
	[№_производства] [int] NOT NULL,
	[№_продукции] [int] NULL,
	[Произведенное_количество] [nchar](10) NULL,
 CONSTRAINT [PK_Производство] PRIMARY KEY CLUSTERED 
(
	[№_производства] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Производство_материал]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производство_материал](
	[№_производства_материал] [int] NOT NULL,
	[№_производства] [int] NULL,
	[№_материала] [int] NULL,
 CONSTRAINT [PK_Производство_материал] PRIMARY KEY CLUSTERED 
(
	[№_производства_материал] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Состав_заказа]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав_заказа](
	[№_заказа_покупателя] [int] NOT NULL,
	[№_заказа] [int] NULL,
	[Продукция] [int] NULL,
	[Количество] [int] NULL,
	[Ед.изм] [nchar](10) NULL,
	[Цена] [decimal](10, 2) NULL,
	[Сумма] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Заказ_покупателя] PRIMARY KEY CLUSTERED 
(
	[№_заказа_покупателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Спецификация]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Спецификация](
	[№_спецификации] [int] NOT NULL,
	[№_продукции] [int] NULL,
	[Изготовитель] [nchar](10) NULL,
 CONSTRAINT [PK_Спецификация] PRIMARY KEY CLUSTERED 
(
	[№_спецификации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Спецификация_материал]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Спецификация_материал](
	[№_спецификации_материала] [int] NOT NULL,
	[№_спецификации] [int] NULL,
	[№_материала] [int] NULL,
	[Количество_материала] [decimal](10, 2) NULL,
	[Ед_изм] [nvarchar](10) NULL,
 CONSTRAINT [PK_Спецификация_материал] PRIMARY KEY CLUSTERED 
(
	[№_спецификации_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Цены_материалов]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Цены_материалов](
	[№_цены_материала] [int] NOT NULL,
	[№_материал] [int] NULL,
	[Цена] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Цены_материалов] PRIMARY KEY CLUSTERED 
(
	[№_цены_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[Цены_продукции]    Дата создания скрипта: 15.05.2026 20:20:40 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Цены_продукции](
	[№_цены_продукции] [int] NOT NULL,
	[№_продукции] [int] NULL,
	[Цена] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Цены_продукции] PRIMARY KEY CLUSTERED 
(
	[№_цены_продукции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказчики_2] ([№_заказчика], [Название], [ИНН], [Адресс], [Телефон], [Продавец], [Покупатель]) VALUES (1, N'ООО "Ассоль"', N'1234567890', N'г.Москва', N'84951234567', 0, 1)
INSERT [dbo].[Заказчики_2] ([№_заказчика], [Название], [ИНН], [Адресс], [Телефон], [Продавец], [Покупатель]) VALUES (2, N'ООО "Полесье"', N'9876543210', N'г.Калуга', N'84841234567', 1, 0)
INSERT [dbo].[Заказчики_2] ([№_заказчика], [Название], [ИНН], [Адресс], [Телефон], [Продавец], [Покупатель]) VALUES (3, N'ИП Иванов', N'1112223334', N'г.СПб', N'88121234567', 0, 1)
GO
INSERT [dbo].[Заказчики_import] ([id], [Название], [ИНН], [Адресс], [Телефон], [IsSalesMan], [IsBuyer]) VALUES (1, N'ООО "Поставка"', N'', N'г.Пятигорск', N'+79198634592', 1, 1)
INSERT [dbo].[Заказчики_import] ([id], [Название], [ИНН], [Адресс], [Телефон], [IsSalesMan], [IsBuyer]) VALUES (2, N'ООО "Кинотеатр Квант"', N'26320045123', N'г. Железноводск, ул. Мира, 123', N'+79884581555', 1, 0)
INSERT [dbo].[Заказчики_import] ([id], [Название], [ИНН], [Адресс], [Телефон], [IsSalesMan], [IsBuyer]) VALUES (3, N'ООО "Ромашка"', N'4140784214', N'г. Омск, ул. Строителей, 294', N'+79882584546', 0, 1)
GO
INSERT [dbo].[Заказы] ([№_заказа], [Исполнитель], [Заказчик]) VALUES (1, 2, 1)
INSERT [dbo].[Заказы] ([№_заказа], [Исполнитель], [Заказчик]) VALUES (2, 2, 3)
INSERT [dbo].[Заказы] ([№_заказа], [Исполнитель], [Заказчик]) VALUES (3, 2, 4)
GO
INSERT [dbo].[Материалы] ([№_материала], [Наиманование]) VALUES (1, N'Молоко н. ')
INSERT [dbo].[Материалы] ([№_материала], [Наиманование]) VALUES (2, N'Закваска к')
INSERT [dbo].[Материалы] ([№_материала], [Наиманование]) VALUES (3, N'Закваска с')
GO
INSERT [dbo].[Продукция] ([№_продукции], [Наименование]) VALUES (1, N'Кефир 2,5%')
INSERT [dbo].[Продукция] ([№_продукции], [Наименование]) VALUES (2, N'Кефир 3,2%')
INSERT [dbo].[Продукция] ([№_продукции], [Наименование]) VALUES (3, N'Молоко 2,5%')
GO
INSERT [dbo].[Производство] ([№_производства], [№_продукции], [Произведенное_количество]) VALUES (1, 4, N'100       ')
INSERT [dbo].[Производство] ([№_производства], [№_продукции], [Произведенное_количество]) VALUES (2, 4, N'50        ')
INSERT [dbo].[Производство] ([№_производства], [№_продукции], [Произведенное_количество]) VALUES (3, 5, N'80        ')
GO
INSERT [dbo].[Производство_материал] ([№_производства_материал], [№_производства], [№_материала]) VALUES (1, 1, 1)
INSERT [dbo].[Производство_материал] ([№_производства_материал], [№_производства], [№_материала]) VALUES (2, 1, 3)
INSERT [dbo].[Производство_материал] ([№_производства_материал], [№_производства], [№_материала]) VALUES (3, 1, 5)
GO
INSERT [dbo].[Состав_заказа] ([№_заказа_покупателя], [№_заказа], [Продукция], [Количество], [Ед.изм], [Цена], [Сумма]) VALUES (1, 1, 4, 12, N'шт        ', CAST(89.00 AS Decimal(10, 2)), CAST(1068.00 AS Decimal(10, 2)))
INSERT [dbo].[Состав_заказа] ([№_заказа_покупателя], [№_заказа], [Продукция], [Количество], [Ед.изм], [Цена], [Сумма]) VALUES (2, 1, 1, 10, N'шт        ', CAST(80.00 AS Decimal(10, 2)), CAST(800.00 AS Decimal(10, 2)))
INSERT [dbo].[Состав_заказа] ([№_заказа_покупателя], [№_заказа], [Продукция], [Количество], [Ед.изм], [Цена], [Сумма]) VALUES (3, 2, 2, 5, N'шт        ', CAST(82.00 AS Decimal(10, 2)), CAST(410.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Спецификация] ([№_спецификации], [№_продукции], [Изготовитель]) VALUES (1, 1, N'ООО "Пол  ')
INSERT [dbo].[Спецификация] ([№_спецификации], [№_продукции], [Изготовитель]) VALUES (2, 2, N'ООО "Пол  ')
INSERT [dbo].[Спецификация] ([№_спецификации], [№_продукции], [Изготовитель]) VALUES (3, 3, N'ООО "Пол  ')
GO
INSERT [dbo].[Спецификация_материал] ([№_спецификации_материала], [№_спецификации], [№_материала], [Количество_материала], [Ед_изм]) VALUES (1, 1, 1, CAST(0.90 AS Decimal(10, 2)), N'кг')
INSERT [dbo].[Спецификация_материал] ([№_спецификации_материала], [№_спецификации], [№_материала], [Количество_материала], [Ед_изм]) VALUES (2, 1, 2, CAST(0.01 AS Decimal(10, 2)), N'кг')
INSERT [dbo].[Спецификация_материал] ([№_спецификации_материала], [№_спецификации], [№_материала], [Количество_материала], [Ед_изм]) VALUES (3, 1, 4, CAST(1.00 AS Decimal(10, 2)), N'шт')
GO
INSERT [dbo].[Цены_материалов] ([№_цены_материала], [№_материал], [Цена]) VALUES (1, 1, CAST(40.00 AS Decimal(10, 2)))
INSERT [dbo].[Цены_материалов] ([№_цены_материала], [№_материал], [Цена]) VALUES (2, 2, CAST(15.00 AS Decimal(10, 2)))
INSERT [dbo].[Цены_материалов] ([№_цены_материала], [№_материал], [Цена]) VALUES (3, 3, CAST(10.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Цены_продукции] ([№_цены_продукции], [№_продукции], [Цена]) VALUES (1, 1, CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[Цены_продукции] ([№_цены_продукции], [№_продукции], [Цена]) VALUES (2, 2, CAST(82.00 AS Decimal(10, 2)))
INSERT [dbo].[Цены_продукции] ([№_цены_продукции], [№_продукции], [Цена]) VALUES (3, 3, CAST(70.00 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Заказчики_2] FOREIGN KEY([Исполнитель])
REFERENCES [dbo].[Заказчики_2] ([№_заказчика])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Заказчики_2]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Заказчики_21] FOREIGN KEY([Заказчик])
REFERENCES [dbo].[Заказчики_2] ([№_заказчика])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Заказчики_21]
GO
ALTER TABLE [dbo].[Производство]  WITH CHECK ADD  CONSTRAINT [FK_Производство_Продукция] FOREIGN KEY([№_продукции])
REFERENCES [dbo].[Продукция] ([№_продукции])
GO
ALTER TABLE [dbo].[Производство] CHECK CONSTRAINT [FK_Производство_Продукция]
GO
ALTER TABLE [dbo].[Производство_материал]  WITH CHECK ADD  CONSTRAINT [FK_Производство_материал_Материалы] FOREIGN KEY([№_материала])
REFERENCES [dbo].[Материалы] ([№_материала])
GO
ALTER TABLE [dbo].[Производство_материал] CHECK CONSTRAINT [FK_Производство_материал_Материалы]
GO
ALTER TABLE [dbo].[Производство_материал]  WITH CHECK ADD  CONSTRAINT [FK_Производство_материал_Производство] FOREIGN KEY([№_производства])
REFERENCES [dbo].[Производство] ([№_производства])
GO
ALTER TABLE [dbo].[Производство_материал] CHECK CONSTRAINT [FK_Производство_материал_Производство]
GO
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказа_Заказы] FOREIGN KEY([№_заказа])
REFERENCES [dbo].[Заказы] ([№_заказа])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_заказа_Заказы]
GO
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_заказа_Продукция] FOREIGN KEY([Продукция])
REFERENCES [dbo].[Продукция] ([№_продукции])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_заказа_Продукция]
GO
ALTER TABLE [dbo].[Спецификация]  WITH CHECK ADD  CONSTRAINT [FK_Спецификация_Продукция] FOREIGN KEY([№_продукции])
REFERENCES [dbo].[Продукция] ([№_продукции])
GO
ALTER TABLE [dbo].[Спецификация] CHECK CONSTRAINT [FK_Спецификация_Продукция]
GO
ALTER TABLE [dbo].[Спецификация_материал]  WITH CHECK ADD  CONSTRAINT [FK_Спецификация_материал_Материалы] FOREIGN KEY([№_материала])
REFERENCES [dbo].[Материалы] ([№_материала])
GO
ALTER TABLE [dbo].[Спецификация_материал] CHECK CONSTRAINT [FK_Спецификация_материал_Материалы]
GO
ALTER TABLE [dbo].[Спецификация_материал]  WITH CHECK ADD  CONSTRAINT [FK_Спецификация_материал_Спецификация] FOREIGN KEY([№_спецификации])
REFERENCES [dbo].[Спецификация] ([№_спецификации])
GO
ALTER TABLE [dbo].[Спецификация_материал] CHECK CONSTRAINT [FK_Спецификация_материал_Спецификация]
GO
ALTER TABLE [dbo].[Цены_материалов]  WITH CHECK ADD  CONSTRAINT [FK_Цены_материалов_Материалы] FOREIGN KEY([№_материал])
REFERENCES [dbo].[Материалы] ([№_материала])
GO
ALTER TABLE [dbo].[Цены_материалов] CHECK CONSTRAINT [FK_Цены_материалов_Материалы]
GO
ALTER TABLE [dbo].[Цены_продукции]  WITH CHECK ADD  CONSTRAINT [FK_Цены_продукции_Продукция] FOREIGN KEY([№_продукции])
REFERENCES [dbo].[Продукция] ([№_продукции])
GO
ALTER TABLE [dbo].[Цены_продукции] CHECK CONSTRAINT [FK_Цены_продукции_Продукция]
GO
USE [master]
GO
